.home_page {
  margin-top: 15px;
}

.hero-text {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text p {
  font-size: 1.6rem;
}
